<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</form>
<a href="{% url 'password_reset' %}">Forgot password?</a>
<a class="nav-link text-white" href="{% url 'home' %}">Home </a>
</body>
</html>