<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>make_payment</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
      var options = {
        key: "rzp_test_HCvc3q3BZPRcGl",
        amount: "50000",
        currency: "INR",
        name: "Acme Corp",
        description: "Test Transaction",
        image: "https://example.com/your_logo",
        order_id: "{{ order_id }}",
        callback_url: "https://eneqd3r9zrjok.x.pipedream.net/",
        handler: function (response) {
          document.getElementById('payment-form').submit();
        },
        prefill: {
          name: "Gaurav Kumar",
          email: "gaurav.kumar@example.com",
          contact: "9000090000",
        },
        notes: {
          address: "Razorpay Corporate Office",
        },
        theme: {
          color: "#3399cc",
        },
      };
      var rzp1 = new Razorpay(options);
    </script>
    <form action="{% url 'success' user.username transactions.id %}" method="POST" id="payment-form">
      {% csrf_token %}
      <input type="hidden" name="success_url" value="{% url 'success' user transactions.id %}">
      <button id="rzp-button1">Pay with Razorpay</button>
    </form>
    <script>
      document.getElementById("rzp-button1").onclick = function (e) {
        rzp1.open();
        e.preventDefault();
      };
    </script>
  </body>
</html>
